.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .content-container {
    height: 100%;
  }

  app-spinner {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;

    &.disable-interaction {
      pointer-events: all;
    }
  }
}

.simple-notification-wrapper {
  z-index: 99999 !important; // notifications always on top
}
