.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  & > :not(app-top-bar):not(router-outlet) {
    height: 100%;
  }
}

.simple-notification-wrapper {
  z-index: 99999 !important; // notifications always on top
}
