<div class="login-container">
    <mat-card class="login-form-container">
        <mat-card-title>Zaloguj się</mat-card-title>

        <mat-card-content>
            <mat-form-field>
                <input matInput>
            </mat-form-field>
            <br />

            <mat-form-field>
                <input matInput>
            </mat-form-field>
        </mat-card-content>
        
        <mat-card-actions>
            <button mat-button>Zaloguj</button>
        </mat-card-actions>
    </mat-card>
</div>
