@import 'src/styles/colors';

.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-form-container {
    min-width: 220px;
    min-height: 250px;
    max-width: 400px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 4px;
    background-color: $content-color;

    .mat-card-content {
      display: flex;
      flex-direction: column;

      .mat-form-field {
        width: 100%;

        &:nth-child(2) {
          margin-top: 16px;
        }
      }
    }

    mat-card-title {
      color: $text-header-color;
    }

    .mat-card-actions {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
