<div class="manage-users-container">
  <div class="header-container">
    <mat-icon mat-list-icon>manage_accounts</mat-icon>
    <div class="text-container">
      <span class="title">Użytkownicy</span>
      <p class="sub-header">
        Zarządzaj użytkownikami
      </p>
    </div>
  </div>

  <button mat-raised-button
          class="add-new-user-button"
          (click)="addNewUser()">
    <mat-icon>add</mat-icon>
    <span class="text">Dodaj nowego użytkownika</span>
  </button>

  <div class="items-container">
    <div *ngFor="let user of (users$ | async); let index = index"
         class="user-item">
      <span class="index"> {{ index + 1 }}.</span>

      <div class="user-name">
        <mat-icon class="icon">person</mat-icon>
        <span>{{ user.name }}</span>
      </div>


      <div class="is-administrator">
        Administrator: {{ user.isAdmin ? 'Tak' : 'Nie' }}
      </div>

      <div class="buttons">
        <button *ngIf="user.name !== 'Admin' && (isUserAdmin$ | async)"
                mat-raised-button
                (click)="removeUser(user)">
          Usuń
        </button>
      </div>
    </div>
  </div>
</div>