<div class="event-preview-container">
    <div class="date-container">
        <span class="date">{{ dateFrom | date:'dd MMMM yyyy':undefined:'pl'}}</span>
        <br />
        <span class="time">godz. {{ dateFrom | date:'HH:mm' }}</span>
    </div>

    <div class="image-container">
        <img [src]="img">
    </div>

    <div class="title">
        {{ title }}
    </div>

    <div class="place">
        {{ place }}
    </div>

    <div class="button">
        <button mat-raised-button
                (click)="buyTicket.emit()">
            Szczegóły
        </button>
    </div>

</div>