<div class="add-event-container">
	<div class="header-container">
		<mat-icon mat-list-icon>event</mat-icon>
		<div class="text-container">
			<span class="title">Dodaj zdarzenie</span>
		</div>
	</div>

	<mat-vertical-stepper labelPosition="bottom">
		<mat-step [stepControl]="generalTab.eventDetailsFormGroup">
			<ng-template matStepLabel>Dane wydarzenia</ng-template>

			<app-general #generalTab></app-general>

		</mat-step>

		<mat-step [stepControl]="imagesTab.imagesFormGroup">
			<ng-template matStepLabel>Zdjęcie</ng-template>

			<app-images #imagesTab></app-images>
		</mat-step>

		<mat-step [stepControl]="layoutTab.layoutFormGroup">
			<ng-template matStepLabel>Układ hali [Desktop]</ng-template>

			<app-layout #layoutTab></app-layout>

			<button class="add-button"
					mat-raised-button
					(click)="onAddEventClick()">
				<mat-icon>add</mat-icon>
				Dodaj wydarzenie
			</button>
		</mat-step>
	</mat-vertical-stepper>
</div>