.reserve-sets-modal-container {
  height: 100%;

  .mat-horizontal-content-container {
    height: 100%;

    .layout-container {
      padding: 20px;
      max-height: 380px;
    }
  }
}

.cdk-overlay-pane.reserve-seats-modal {
  .mat-dialog-container {
    padding: unset;
  }
}
