<div class="layout-container">
    <button mat-raised-button
            (click)="selectPredefinedLayout();">
        Wybierz predefiniowany układ hali
    </button>

    <br />
    <br />

    <button mat-raised-button
            (click)="useGenerator()">
        Wygeneruj halę
    </button>

    <div *ngIf="isGeneratorVisible"
         class="generator-container">
        <br />
        <p><b>,</b> - nowe miejsce. Nowa linia - nowy rząd</p>
        <textarea [(ngModel)]="generatorText">

        </textarea>
    </div>


    <app-seat-layout-viewer *ngIf="selectedLayoutSrc != null"
                            (onLoad)="onLayoutLoaded($event)"
                            [layoutSvgSrc]="$any(selectedLayoutSrc)">
    </app-seat-layout-viewer>

    <div *ngIf="regions.length > 0"
         class="header-container">
        <mat-icon mat-list-icon>attach_money</mat-icon>
        <div class="text-container">
            <span class="title">Ustal ceny biletów wpisując kwotę za bilet w konkretnym rzędzie.</span>
        </div>
    </div>

    <div *ngIf="regions.length > 0"
         class="regions-container">
        <mat-form-field *ngFor="let region of regions"
                        floatLabel="always">
            <mat-label>
                Rząd: {{ region }}
            </mat-label>

            <input matInput
                   type="number"
                   [formControl]="$any(layoutFormGroup.controls[region])"
                   placeholder="Cena [zł]">

            <mat-error>
                Podaj cenę biletu w tym rzędzie
            </mat-error>
        </mat-form-field>

        <br />
    </div>

    <button *ngIf="regions.length > 0"
            class="set-prices-button"
            mat-raised-button
            (click)="setPrices()">
        <mat-icon mat-list-icon>attach_money</mat-icon>
        Ustaw ceny
    </button>
</div>