<div class="layout-container">
    <button mat-raised-button
            (click)="selectPredefinedLayout();">
        Wybierz predefiniowany układ hali
    </button>

    <app-seat-layout-viewer *ngIf="selectedLayoutSrc != null"
                            (onLoad)="onLayoutLoaded($event)"
                            [layoutSvgSrc]="$any(selectedLayoutSrc)">
    </app-seat-layout-viewer>

    <div *ngIf="regions.length > 0"
         class="regions-container">
        <mat-form-field *ngFor="let region of regions"
                        floatLabel="always">
            <mat-label>
                Rząd: {{ region }}
            </mat-label>

            <input matInput
                   type="number"
                   [formControl]="$any(layoutFormGroup.controls[region])"
                   placeholder="Cena [zł]">

            <mat-error>
                Podaj cenę biletu w tym rzędzie
            </mat-error>
        </mat-form-field>

        <br />

        <button mat-raised-button
                (click)="setPrices()">
            Ustaw ceny
        </button>
    </div>
</div>