<div class="top-bar-container">
    <span class="title">SysTicket</span>

    <span class="current-page-title">{{ currentPageTitle$ | async }}</span>

    <div class="buttons-container">
        <button *ngIf="(isUserLogged$ | async) === false && (isOnLoginPage$ | async) === false"
                mat-button
                (click)="login()">
            Zaloguj
        </button>

        <button *ngIf="(isUserAdmin$ | async) && (isOnManageUsersPage$ | async) === false"
                mat-button
                (click)="manageUsers()">
            Zarządzaj użytkownikami
        </button>

        <button *ngIf="isUserLogged$ | async"
                mat-button
                (click)="logout()">
            Wyloguj
        </button>
    </div>
</div>
