<div class="top-bar-container">
    <span class="title"
          (click)="home()">
        SysTicket
    </span>

    <div class="buttons-container">
        <button *ngIf="(isUserLogged$ | async) === false && (isOnLoginPage$ | async) === false"
                mat-button
                (click)="login()">
            Zaloguj
        </button>

        <button *ngIf="(isUserAdmin$ | async) && (isOnAddEventPage$ | async) === false"
                mat-button
                (click)="addEvent()">
            Dodaj wydarzenie
        </button>

        <button *ngIf="(isUserAdmin$ | async) && (isOnManageUsersPage$ | async) === false"
                mat-button
                (click)="manageUsers()">
            Zarządzaj użytkownikami
        </button>

        <button *ngIf="isUserLogged$ | async"
                mat-button
                (click)="logout()">
            Wyloguj
        </button>
    </div>
</div>
