@import 'src/styles/colors';
@import 'src/styles/variables';

.top-bar-container {
  height: $top-bar-height;
  display: flex;
  align-items: center;
  background-color: $theme-color;
  color: white;
  justify-content: space-between;
  overflow: auto;
  box-shadow: 0 0 4px 4px #00000063;

  .title {
    margin-left: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  .buttons-container {
    display: flex;
  }

  @media screen and (max-width: 500px) {
    .title {
      display: none;
    }

    .current-page-title {
      position: unset !important;
      margin-left: 16px;
      display: block !important;
    }
  }
}
