@import 'src/styles/colors';

.add-new-user-modal-container {
  width: calc(100% - 48px);
  height: calc(100% - 48px);
  padding: 24px;
  display: flex;
  flex-direction: column;
  background-color: $content-color;

  .form-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    .buttons-container {
      position: absolute;
      bottom: 0px;
      right: 0px;

      .add-button {
        background-color: $theme-color;
        color: white;
        margin-right: 16px;

        &[disabled] {
          background-color: gray;
        }
      }
    }

    .mat-checkbox-checked {
      .mat-checkbox-background {
        background-color: $theme-color;
      }
    }
  }
}

.add-new-user-modal {
  .mat-dialog-container {
    padding: 0px;
  }
}

@media screen and (max-height: 400px) {
  .cdk-overlay-pane.add-new-user-modal {
    height: 345px !important;
  }
}
